<% include ../partials/header %>
<div class="ui main text container segment ">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" >
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
             <% if(currentUser){ %>
                        <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                            <button class="ui red basic button">Delete</button>
                        </form>
                    <% } %>
            
            <a id="comment" class = "ui floated right basic violet button" class="clearfix" href="/blogs/<%=blog._id%>/comments/new">Comment</a>
        </div>
    </div>
    <% blog.comments.forEach(function(comment){%>
    <div class="ui raised segment">
        <p> <%=comment.author %>- <%=comment.text%></p>
        <% if(currentUser){ %>
         <form id="delete" action="/blogs/<%=blog._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
        <% } %>
        
    </div>
   <% })%>
</div>
<% include ../partials/footer %>